.arrow-button-left {
    display: flex;
    color: #ffffff;
    background-color: #fb8065;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all 0.4s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}

.arrow-button-left > .arrow-left {
    width: 6px;
    height: 6px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    position: relative;
    transform: rotate(135deg);
    margin: 0 6px;
    transition: all 0.4s ease;
}

.arrow-button-left > .arrow-left::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all 0.4s ease;
    content: "";
    right: 0;
}

.arrow-button-left:hover > .arrow-left {
    transform: rotate(135deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.arrow-button-left:hover > .arrow-left::before {
    opacity: 1;
    width: 10px;
}

.arrow-button-left:hover {
    background-color: #fc6846;
    color: #fff;
}
